* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    background: #FFF8F3;
    background-image: url('/images/header_bg.png'), url('/images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.btn-primary {
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
}

/* nav style */
.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

.text-orange {
    color: #FD6E0A;
}

/* banner style */
.btn-secandery {
    width: 160px;
    height: 64px;
    background: #FFF8F3;
    font-weight: 700;
    font-size: 20px;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    margin-left: 30px;
}

.banner-contanier {
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.banner-subtitle {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}

.banner-title {
    font-weight: 700;
    font-size: 70px;
    color: #181818;
}

.banner-discription {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

/* main section style */
main {
    width: 1140px;
    margin: 0 auto;
}

.about {
    margin-top: 130px;
    /* height: 550px; */
    background: #FFF8F3;
    border-radius: 10px;
    padding: 131px 256px;
    text-align: center;
}

.about-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
    color: #181818;
}

.about-discription {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    color: #757575;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}

.info-discription {
    font-weight: 700;
    font-size: 20px;
}

/* what-i-do-style */
.what-i-do-title {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-top: 130px;
    margin-bottom: 30px;
    text-align: center;
}

.what-i-do-discription {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 50px;
    text-align: center;
}

.skill-container {
    display: flex;
}

.skill-item {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    margin-right: 24px;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
    margin-top: 30px;
}

.skill-discription {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    margin-bottom: 30px;
    text-align: left;
}

/* resume style */
.resume-section-title {
    text-align: center;
    margin-top: 130px;
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 113px;
}

.resume-container {
    display: flex;
}

.resume-title {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
}

.resume-item1 {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
    margin-top: 30px;
}

.resume-item2 {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}

.resume-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    margin-bottom: 30px;
}

hr {
    margin-right: 24px;
}

.resume-btn {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 113px;
}

/* footer style */
.footer {
    width: 1600px;
    height: 780px;
    background: #FFF8F3;
    display: flex;
}
.footer-title{
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 28px;
}
.footer-description{
    font-weight: 400;
    font-size: 16px;
    color: #474747;
    margin-top: 20px;
    margin-bottom: 30px;
}
.footer-left-item{
    margin-top: 130px;
    margin-left: 230px;
    margin-right: 117px;
}
.footer-right-item{
    margin-top: 130px;
}
.name{
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    width: 300px;
    padding: 18px;
}
.email{
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    width: 300px;
    padding: 18px;
}
.message{
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 18px;
    width: 300px;
}
.image a{
text-decoration: none;
}